* {
   /*border: 1px solid rgb(26, 43, 139);*/
   font-family: 'Roboto', sans-serif;
   
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid black;
    width: 100%;
}

a:visited {
    text-decoration: none;
    color: unset;
}


html, body {
    height: 100%;
    margin: 0px;
}


body {
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    margin: 0px 10px;
}
    
    header div {
        display: flex;
    }

    header p {
        display: inline;
        font-size: 0.75em;
        font-family: 'Roboto', sans-serif;
    }

    .headerelement {
        align-self: center;
        justify-self: center;
        margin: 10px;
        color: rgb(34, 34, 34);
    }

    .material-icons {
        color: gray;
    }
        
    #signbutton {
        margin: auto 10px;
        width: 5.5em;
        height: 2.5em;
        font-weight: 800;
        border-radius: 3px;
        border: none;
        color: white;
        background-color: rgb(66, 131, 253);
    }
    

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    
    
}

    #logo {
        margin: 10em 0px 1em 0px;
    }

    #bar {
        width: 35em;
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        border: 1px solid rgb(168, 168, 168);
        border-radius: 2em;
    }

        .baritem {
            padding: 0px 5px;

        }

        #searchbar {
            width: 100%;
            border: none;
            border-color: transparent;
        }

            #searchbar:focus {
                
                outline: none;
            }


    #searchbuttons {
        margin-top: 1.5em;

    }
        .barbutton {
            background-color: rgb(238, 238, 238);
            padding: 0.5em 1.5em;
            color: rgb(49, 49, 49);
            margin: 0.25em;
            border: none;
            border-radius: 3px;
        }
    

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px 5px 10px 5px;
    background-color: rgb(243, 243, 243);
    border: none;
    font-size: 0.8em;
}

    footer div {
        display: flex;
    }

    footer p {
        margin: 0;
    }

    .footerelement {
        padding: 0px 10px;
        margin: 0px 10px;
        color: rgb(75, 75, 75);
    }

